apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: sporing
  namespace: tbd
  labels:
    team: tbd
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "4m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
spec:
  image: {{image}}
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 1
  readiness:
    path: isready
    initialDelay: 1
  preStopHook:
    http:
      path: /stop
  resources:
    limits:
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 64Mi
  replicas:
    min: 1
    max: 1
  prometheus:
    enabled: true
    path: /metrics
  gcp:
    sqlInstances:
      - type: POSTGRES_17
        tier: {{sqlInstanceTier}}
        diskAutoresize: true
        databases:
          - name: sporing
  azure:
    application:
      enabled: true
      tenant: nav.no
  kafka:
    pool: {{kafkaPool}}
  ingresses:
    - {{ingress1}}
    - {{ingress2}}
  accessPolicy:
    outbound:
      rules:
        - application: logging
          namespace: nais-system
        - application: spleis-api
  env:
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-sporing-v1
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_RESET_POLICY
      value: earliest
    - name: SPLEIS_SCOPE
      value: {{spleisScope}}
    - name: SPLEIS_API_URL
      value: http://spleis-api
